{% extends ':admin:base_admin.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Jedy</h1>
        <p>{{ 'app.description'|trans()|raw }}</p>
        <p><a href="https://github.com/JuanLuisGarciaBorrego/jedy" target="_new" class="btn btn-primary btn-lg"><i class="fa fa-github"></i> {{ 'app.view.project'|trans() }}</a></p>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'content.type.page'|trans }} <span class="badge"><i class="fa fa-eye"></i> {{ count.page }}</span></h3>
                </div>
                <div class="panel-body">
                    {{ 'content.definition.page'|trans }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'content.type.post'|trans }} <span class="badge"><i class="fa fa-eye"></i> {{ count.post }}</span></h3>
                </div>
                <div class="panel-body">
                   {{ 'content.definition.post'|trans }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'category.title.singular'|trans }} <span class="badge"><i class="fa fa-eye"></i> {{ count.category }}</span></h3>
                </div>
                <div class="panel-body">
                    {{ 'category.definition'|trans }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}