{% extends 'public/base_public.html.twig' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}

    <h1>{{ post.title }}</h1>

    <span>{{ post.publishedAt|date("m/d/Y") }}</span>
    <p>{{ post.content }}.</p>
    <hr>
    {{ translation_content(post) }}
{% endblock %}
