{% extends ':admin:base_admin.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('admin_home') }}">Home</a></li>
        <li><a href="{{ path('admin_nav_home') }}">Navs</a></li>
        <li><a href="">Nav {{ nav.name }}</a></li>
        <li class="active">Add content</li>
    </ul>

    <div class="row margin-vertical-md">
        <div class="col-md-12">
            <h1 class="h-btn-line">
                Add content nav {{ nav.name }}
            </h1>
        </div>
    </div>

    <div class="row margin-vertical-md">
        <div class="col-md-5">

            <div class="panel panel-default">
                <div class="panel-body">
                    Select content

                    {{ form_start(form_category) }}
                        {{ form_widget(form_category) }}
                        <button type="submit" class="btn btn-primary btn-xs btn-block"> Add category</button>
                    {{ form_end(form_category) }}

                </div>
            </div>

        </div>
        <div class="col-md-6 col-md-offset-1">
            hola
        </div>
    </div>
{% endblock %}

