{% extends ':admin:base_admin.html.twig' %}

{% block title %} {{ 'app.translations'|trans }} {% endblock %}

{% block content %}

    <ul class="breadcrumb">
        <li><a href="{{ path('admin_home') }}">Home</a></li>
        <li><a href="{{ path('admin_nav_home') }}">{{ 'nav.title.plural'|trans }}</a></li>
        <li><a href="{{ path('admin_nav_edit', {'id': nav.id }) }}">{{ nav.name }}</a></li>
        <li class="active">{{ 'app.translations'|trans }}</li>
    </ul>

    {% include 'admin/_flashbag.html.twig' %}

    <div class="row margin-vertical-md">
        <div class="col-md-12">
            <h1 class="h-btn-line">{{ 'app.translations'|trans }}</h1>
        </div>
    </div>

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'app.translation'|trans }}</th>
            <th>{{ 'app.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for translation in translations %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ translation.name }}</td>
                <td>
                    {% if nav.locale == translation.code %}
                        <a href="{{ path('admin_nav_edit', {'id': nav.id }) }}" class="btn btn-warning btn-xs">{{ 'nav.edit'|trans }}</a>
                    {% else %}

                        {% set nav_translation = is_nav_translation(nav.locale, translation.code, nav.id) %}

                        {% if nav_translation %}
                            <a href="{{ path('admin_nav_translation_update', {'id': nav.id, 'localeNav': nav.locale, 'localeTranslation': translation.code} ) }}" class="btn btn-warning btn-xs">{{ 'nav.translation.update'|trans }}</a>
                        {% else %}
                            <a href="{{ path('admin_nav_translation_generate', {'id': nav.id, 'localeNav': nav.locale, 'localeTranslation': translation.code} ) }}" class="btn btn-info btn-xs">{{ 'nav.translation.generate'|trans }}n</a>
                        {% endif %}

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
