{% extends ':admin:base_admin.html.twig' %}

{% block title %} {{ 'app.translations'|trans }} {% endblock %}

{% block content %}

    <ul class="breadcrumb">
        <li><a href="{{ path('admin_home') }}">Home</a></li>
        <li><a href="{{ path('admin_content_home') }}">Contents</a></li>
        <li><a href="{{ path('admin_content_edit', {'id':content.id }) }}">{{ content.title }}</a></li>
        <li class="active">{{ 'app.translations'|trans }}</li>
    </ul>

    {% include 'admin/_flashbag.html.twig' %}

    <div class="row margin-vertical-md">
        <div class="col-md-12">
            <h1 class="h-btn-line">{{ 'app.translations'|trans }}</h1>
        </div>
    </div>

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'app.translation'|trans }}</th>
            <th>{{ 'app.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for translation in translations %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ translation.name }}</td>
                <td>
                    {% if content.locale == translation.code %}
                        <a href="{{ path('admin_content_edit', {'id': content.id}) }}" class="btn btn-warning btn-xs">{{ 'app.edit'|trans }} {{ ('content.type.' ~ content.type)|trans }}</a>
                    {% else %}

                        {% set content_translation = is_content_translation(content.locale, translation.code, content.id) %}

                        {% if content_translation %}
                            <a href="{{ path('admin_content_translation_edit', {'idParent': content.id, 'id': content_translation.id, 'localeContent': content.locale, 'localeTranslation': translation.code} ) }}" class="btn btn-warning btn-xs">{{ 'app.translation.edit'|trans }}</a>
                        {% else %}
                            <a href="{{ path('admin_content_translation_add', {'id': content.id, 'localeContent': content.locale, 'localeTranslation': translation.code} ) }}" class="btn btn-info btn-xs">{{ 'app.translation.add'|trans }}</a>
                        {% endif %}

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
