{% extends ':admin:base_admin.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('admin_content_home') }}">Home</a></li>
        <li class="active">Contents</li>
    </ul>

    <div class="row margin-vertical-md">
        <div class="col-md-8">
            <h1 class="h-btn-line">Contents</h1>
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <a href="#" class="btn btn-primary btn-sm">Add content</a>
                <a href="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin_content_new', {'type': 'page'}) }}">Page</a></li>
                    <li><a href="{{ path('admin_content_new', {'type': 'post'}) }}">Post</a></li>
                </ul>
            </div>
        </div>
    </div>

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Category</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ content.title}}</td>
                <td>{{ content.category.name |default("-")}}</td>
                <td><span class="label label-default">{{ content.type}}</span></td>
                <td>
                    <a href="{{ path('admin_content_edit', {'id': content.id}) }}" class="btn btn-warning btn-xs">Edit</a>
                    <a href="" class="btn btn-info btn-xs">Translations</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
