{% extends ':admin:base_admin.html.twig' %}

{% block title %} {{ 'content.title.plural'|trans }} {% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('admin_home') }}">Home</a></li>
        {% if type %}
            <li><a href="{{ path('admin_content_home') }}">{{ 'content.title.plural'|trans }}</a></li>
            <li class="active">{{ 'content.title.singular'|trans }} {{ ('content.type.' ~ type)|trans }}</li>
        {% else %}
            <li class="active">{{ 'content.title.plural'|trans }}</li>
        {% endif %}

    </ul>

    {% include 'admin/_flashbag.html.twig' %}

    <div class="row margin-vertical-md">
        <div class="col-md-8">
            <h1 class="h-btn-line">{{ 'content.title.plural'|trans }} {{ ('content.type.' ~ type|default('all'))|trans }}</h1>
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <a href="#" class="btn btn-primary btn-sm">{{ 'content.add'|trans }}</a>
                <a href="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin_content_new', {'type': 'page'}) }}">{{ 'content.type.page'|trans }}</a></li>
                    <li><a href="{{ path('admin_content_new', {'type': 'post'}) }}">{{ 'content.type.post'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'content.title'|trans }}</th>
            <th>{{ 'category.title.singular'|trans }}</th>
            <th>{{ 'content.type'|trans }}</th>
            <th>{{ 'app.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ content.title}}</td>
                <td>{{ content.category.name |default("-")}}</td>
                <td><span class="label label-default">{{ ('content.type.' ~ content.type)|trans }}</span></td>
                <td>
                    <a href="{{ path('admin_content_edit', {'id': content.id}) }}" class="btn btn-warning btn-xs">{{ 'app.edit'|trans }}</a>
                    <a href="{{ path('admin_content_translations', {'id': content.id}) }}" class="btn btn-info btn-xs">{{ 'app.translations'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="pager">
        {% set prev = page -1  %}

        {% if prev != 0 %}
            <li class="previous"><a href="{{ path('admin_content_home', {'page': prev}) }}">&larr; {{ 'app.pagination.older'|trans }}</a></li>
        {% else %}
            <li class="previous disabled"><a href="">&larr; {{ 'app.pagination.older'|trans }}</a></li>
        {% endif %}

        {% if totalPages >= (page+1) %}
            <li class="next"><a href="{{ path('admin_content_home', {'page': page+1}) }}">{{ 'app.pagination.newer'|trans }} &rarr;</a></li>
        {% else %}
            <li class="next disabled"><a href="">{{ 'app.pagination.newer'|trans }} &rarr;</a></li>
        {% endif %}
    </ul>

{% endblock %}
